.search-box {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  outline: none;
  text-align: center;
  padding: 10px;
  width: 250px;
  line-height: 30px;
  margin-bottom: 30px;
}
